@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Urbanist", sans-serif;
  line-height: 1.4;
}

$heading1: clamp(1.75rem, 1.35rem + 2vw, 3.75rem);
$heading2: clamp(1.75rem, 1.5rem + 1.25vw, 3rem);
$heading3: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
$paragraph: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);

// button

$button: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);

// card

h1 {
  font-size: 1.75rem;
  font-size: $heading1;
  line-height: 1.2;
}

p {
  font-size: 1rem;
  font-size: $paragraph;
  line-height: 1.5;
}

a {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
}
